<!DOCTYPE html>
<html>
  <head>
    <title>Chocolo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, viewport-fit=cover">
    <link rel="manifest" href="/manifest.json">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://fonts.cdnfonts.com/css/sugarpunch-demo" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="d-flex min-vh-100 overflow-auto">
    <div id="force-landscape">
      <div id="refresh-arrows">
        <div class="refresh-arrows-wrapper">
          <div class="slow-spin"><i class="fa-solid fa-arrows-rotate"></i></div>
        </div>
        <p>Please rotate your device !</p>
      </div>
    </div>
    <div class="background-icons">
      <i class="icon rotate gas fas fa-star" style="<%= "top: 5%; left: 5%" %>"></i>
      <i class="icon rotate fas fa-star" style="<%= "bottom: 5%; left: 5%" %>"></i>
      <i class="icon rotate fas fa-star" style="<%= "top: 5%; right: 5%" %>"></i>
      <i class="icon rotate fas fa-star" style="<%= "bottom: 5%; right: 5%" %>"></i>
    </div>
    <div class="container-fluid my-3">
      <div id="title" class="text-center mt-4">
        <h1 class="display-4">CHOCOLO</h1>
      </div>
      <%= yield %>
    </div>

    <!-- Footer -->
    <footer id="app-footer" class="text-center fixed-bottom" >
      Made with ❤️ by l'<a href="https://github.com/inteam-eu-org/chocolo">InTeam</a>.
      <button type="button" class="float-end btn-close" aria-label="Close" onclick="$('#app-footer').hide()"></button>  
    </footer>
    
    <%= render 'install-modal' %>

  </body>
</html>
